.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    display: flex;
    margin: 0 auto;
    background-color: transparent;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background-color: transparent;
  display: flex;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-button-icon {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  display: block;
  margin: auto;
  width: 18px;
  height: 13px;
}

.header-button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header-button {
    display: block;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  width: 48px;
  height: 48px;
  padding: 0 13px 0 15px;
  box-sizing: content-box;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    opacity: 0.6;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #2B292D;
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}

.nav-list {
  display: flex;
  margin: 0;
}
.nav-list__item {
  margin-right: 50px;
  list-style: none;
}
.nav-list__item:last-child {
  margin-right: 0;
}
.nav-list__item_selected {
  font-weight: 700;
}
.nav-list__arrow {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  width: 8px;
  height: 5px;
  display: inline-block;
  margin-left: 11px;
}
.nav-list__link {
  color: #2B292D;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #F3C6BD;
    padding-top: 39px;
  }
}

.headline {
  padding: 0 0 36px 0;
  background-color: #F3C6BD;
}
@media screen and (min-width: 1400px) {
  .headline {
    padding: 33px 29px 0 126px;
    margin: auto;
    margin-top: 84px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
.headline__section {
  margin: 0 15px 0 15px;
}
@media screen and (min-width: 1400px) {
  .headline__section {
    margin-left: 0;
    margin-top: 0;
  }
}
.headline__banner {
  position: relative;
  max-width: 100%;
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: absolute;
    top: 8px;
    right: 25px;
    width: 796px;
    height: 448px;
  }
}
.headline__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 1;
    margin-bottom: 34px;
  }
}
.headline__description {
  margin: 24px 0 30px 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin: 0;
    margin-bottom: 58px;
    width: 456px;
    height: 102px;
  }
}
.headline__button {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .headline__button {
    margin-bottom: 126px;
    flex-direction: row;
  }
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3040C4;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-top: 0;
    margin-left: 15px;
  }
}

.about {
  width: 100%;
  background-color: #F4F5F7;
  padding: 46px 15px;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    background-color: #F4F5F7;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article {
  font-size: 22px;
  line-height: 32px;
}
.article__title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 6px;
}
.article__text {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:first-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 1400px) {
  .article:first-child {
    margin-right: 29px;
    margin-bottom: 0;
  }
}

.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
  padding-bottom: 103px;
}
.features__column {
  width: 461px;
}
.features__subtitle {
  color: #009B4D;
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 0;
}
.features__advantage-header {
  margin-top: 42px;
  display: flex;
}
.features__advantage-header-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #3142C6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  border-bottom: 3px solid #3142C6;
  padding-bottom: 20px;
}
.features__advantage-item {
  border-bottom: 1px solid #2B292D26;
  margin-top: 21px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.tips {
  padding: 0 15px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}
.tips__item {
  border-bottom: 1px solid #e3e3e3;
  margin-top: 40px;
}
.tips__item:first-child {
  margin-top: 0;
}
.tips__item:last-child {
  border-bottom: none;
}
.tips__title {
  margin: 0;
  margin-top: 17px;
}
.tips__description {
  margin: 0;
  margin-top: 15px;
}
.tips__image {
  margin: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tips__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}

.button {
  height: 48px;
  width: 160px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;
}

@media screen and (max-width: 1399px) {
  .button {
    width: 100%;
  }
}

.subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
}

.action-button {
  background-color: #3040C4;
  color: white;
}

.article-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.357143px;
}

.article-description {
  font-size: 24px;
  line-height: 34px;
}

.horizontal-line {
  width: 100%;
  background-color: #e3e3e3;
}

.customers {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    padding: 30px 0 106px 0;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}
.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__down {
  margin-bottom: 0;
}
@media screen and (min-width: 1400px) {
  .customers__down {
    padding-bottom: 76px;
  }
}

.inbox {
  padding: 50px 15px 48px 15px;
  background-color: #FCF0E366;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .inbox {
    padding: 115px 99px 101px 193px;
    flex-direction: row;
  }
}
.inbox__illustration {
  max-width: 290px;
}
@media screen and (min-width: 1400px) {
  .inbox__illustration {
    max-width: 425px;
    height: 510px;
  }
}
.inbox__illustration-caption {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__illustration-caption {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #2b292d99;
    margin-top: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .inbox__desktop-image {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
}
.inbox__information {
  border-bottom: 4px solid #0185D0;
}
@media screen and (min-width: 1400px) {
  .inbox__information {
    width: 520px;
    margin-left: auto;
  }
}
.inbox__subtitle {
  margin: 0;
  margin-top: 32px;
  color: #F1592B;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    margin: 0;
    margin-left: 28px;
    margin-right: 25px;
  }
}
.inbox__title {
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
    margin-left: 28px;
    margin-right: 25px;
  }
}
.inbox__description {
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .inbox__description {
    margin-top: 30px;
    margin-left: 28px;
    margin-right: 25px;
  }
}

.review {
  margin-top: 30px;
  padding: 30px 20px;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .review {
    margin-top: 44px;
  }
}
.review__text {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.review__person {
  display: flex;
  margin-top: 26px;
}
.review__person-avatar {
  width: 40px;
  height: 40px;
  margin-right: 11px;
  margin-top: 8px;
}
.review__person-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
.review__person-position {
  font-size: 16px;
  line-height: 22px;
  color: #2b292d99;
}
.review__person-info {
  display: flex;
  flex-direction: column;
}

.communication {
  padding: 50px 15px 40px 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .communication {
    padding: 110px 130px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__dekstop-info {
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  .communication__info {
    width: 461px;
    margin-top: 13px;
  }
}
.communication__subtitle {
  color: #0189D1;
  margin: 0;
}
.communication__title {
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
  }
}
.communication__description {
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .communication__description {
    margin-top: 30px;
  }
}
.communication__button {
  margin: 0;
  margin-top: 30px;
  width: 160px;
}
@media screen and (min-width: 1400px) {
  .communication__button {
    margin-top: 39px;
  }
}
.communication__illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .communication__illustration {
    margin-left: auto;
    margin-top: 0;
  }
}
.communication__image {
  margin-top: 40px;
  max-width: 290px;
}
@media screen and (min-width: 1400px) {
  .communication__image {
    margin-top: 0;
    max-width: 425px;
    height: 426px;
  }
}
.communication__image-caption {
  margin-top: 17px;
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .communication__image-caption {
    margin-top: 15px;
  }
}
.communication__horizontal-line {
  width: 150px;
  height: 1px;
  background-color: #0000001A;
  border: 0;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__horizontal-line {
    margin-top: 26px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__proposition {
    display: flex;
    margin-top: 41px;
    justify-content: space-between;
  }
}
.communication__item {
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .communication__item {
    margin-top: 0;
    width: 360px;
  }
}
.communication__item-description {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
.communication__item-description-name {
  font-weight: 700;
}
.communication__item-link {
  color: #3040C4;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
}

.audience {
  padding: 50px 15px;
  background-color: #00A1C612;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px 131px 110px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.audience__subtitle {
  text-align: center;
  margin: 0;
}
.audience__title {
  text-align: center;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    width: 555px;
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  margin: 0;
  margin-top: 18px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    width: 555px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .audience__btn {
    display: flex;
    margin-top: 34px;
  }
}
@media screen and (min-width: 1400px) {
  .audience__cards {
    display: flex;
  }
}
.audience__button-get {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__button-get {
    margin-top: 0;
  }
}
.audience__button-more {
  margin-top: 12px;
  color: #000;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .audience__button-more {
    margin-top: 0;
    margin-left: 10px;
  }
}

.user-card {
  width: 290px;
  height: 300px;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .user-card {
    width: 262px;
    margin-left: 30px;
  }
}
.user-card:first-child {
  margin-top: 0;
}
.user-card:hover {
  background-color: #3141C5;
}
.user-card:hover .user-card__text {
  color: #fff;
}
.user-card__image {
  margin: 0 auto;
  display: block;
  padding: 22px 0;
}
.user-card__text {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  display: block;
}

.feedback {
  padding: 0 15px 50px;
  border-bottom: 1px solid #e3e3e3;
}
@media screen and (min-width: 1400px) {
  .feedback {
    padding: 0 130px 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}
.feedback__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3142C6;
}
@media screen and (min-width: 1400px) {
  .feedback__title {
    text-align: center;
  }
}
.feedback__description {
  margin: 0;
  margin-top: 29px;
}
@media screen and (min-width: 1400px) {
  .feedback__description {
    margin-top: 28px;
    width: 750px;
    text-align: center;
  }
}
.feedback__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
  display: inline-block;
}
.feedback__position {
  font-size: 16px;
  line-height: 24px;
  color: #2b292d99;
  display: inline-block;
}
.feedback__image {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__image {
    position: absolute;
    right: 26px;
    bottom: 0px;
  }
}

.dot-slider {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.dot-slider__item {
  width: 12px;
  height: 12px;
  background-color: #2B292D33;
  border-radius: 50%;
  margin-left: 19px;
}
.dot-slider__item:first-child {
  margin-left: 0;
}
.dot-slider__item_selected {
  background-color: #3142C5;
}

.hiring {
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .hiring {
    padding: 106px 325px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hiring__title {
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .hiring__title {
    width: 555px;
  }
}
.hiring__description {
  margin: 0;
  margin-top: 18px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .hiring__description {
    width: 555px;
    margin-top: 18px;
  }
}
.hiring__button {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .hiring__button {
    width: 247px;
    margin-top: 28px;
  }
}
.hiring__position {
  margin-top: 39px;
}
@media screen and (min-width: 1400px) {
  .hiring__position {
    margin-top: 110px;
  }
}

.vacancy {
  width: 290px;
  height: 140px;
  border: 1px solid #2b292d33;
  margin-top: 15px;
  border-radius: 8px;
  display: flex;
}
@media screen and (min-width: 1400px) {
  .vacancy {
    width: 750px;
    height: 81px;
    margin-top: 20px;
  }
}
.vacancy:first-child {
  margin-top: 0;
}
.vacancy:hover {
  background-color: #3141C5;
}
.vacancy:hover .vacancy__search span {
  color: #fff;
}
.vacancy:hover .vacancy__action {
  background-color: #3141C5;
}
.vacancy:hover .vacancy__action-icon {
  filter: brightness(0) invert(1);
}
.vacancy__search {
  width: 240px;
  padding: 19px 21px 19px 20px;
}
.vacancy__search:hover {
  background-color: #3141C5;
}
@media screen and (min-width: 1400px) {
  .vacancy__search {
    width: 100%;
    padding: 26px 25px;
    display: flex;
    align-items: center;
  }
}
.vacancy__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  display: inline-block;
}
@media screen and (min-width: 1400px) {
  .vacancy__name {
    width: 408px;
  }
}
.vacancy__location {
  font-size: 16px;
  line-height: 22px;
  color: #2B292D99;
  margin-top: 18px;
  display: inline-block;
}
@media screen and (min-width: 1400px) {
  .vacancy__location {
    width: 232px;
    margin-top: 0;
  }
}
.vacancy__action {
  width: 50px;
  background-color: #D5D4D5;
  border-radius: 0px 8px 8px 0px;
  display: flex;
}
@media screen and (min-width: 1400px) {
  .vacancy__action {
    background-color: #fff;
  }
}
.vacancy__action-icon {
  margin: auto;
}

.order {
  background-color: #F4F5F7;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 228px 72px 224px;
    flex-direction: row;
  }
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 268px;
    margin-right: 121px;
    height: 296px;
  }
}
@media screen and (min-width: 1400px) {
  .order__details {
    width: 555px;
  }
}
.order__title {
  margin-top: 40px;
  margin-bottom: 0;
}
.order__title-for-mobile {
  display: block;
}
@media screen and (min-width: 1400px) {
  .order__title-for-mobile {
    display: none;
  }
}
.order__title-for-desktop {
  display: block;
  margin: 0;
}
@media screen and (max-width: 1399px) {
  .order__title-for-desktop {
    display: none;
  }
}
.order__description {
  margin-top: 18px;
  margin-bottom: 0;
}
.order__description-for-mobile {
  display: block;
}
@media screen and (min-width: 1400px) {
  .order__description-for-mobile {
    display: none;
  }
}
.order__description-for-dekstop {
  display: block;
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__description-for-dekstop {
    display: none;
    margin-top: 0;
  }
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  height: 48px;
  width: 100%;
  border: 1px solid #2b292d33;
  border-radius: 2px;
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
    text-align: left;
    padding-left: 15px;
    width: 385px;
    margin-right: 10px;
  }
}
.order__email::placeholder {
  font-size: 18px;
  line-height: 13px;
}
.order__button {
  width: 100%;
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    width: 160px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
  margin: 0;
  margin-top: 10px;
}
.order__terms-link {
  color: #3142C6;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .footer {
    padding-bottom: 0;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .footer__links {
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1400px) {
  .footer__line {
    border-top: 1px solid #2B292D;
    opacity: 0.1;
  }
}

.footer-navigation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
    height: 338px;
  }
}

.terms {
  line-height: 22px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
  }
}
.terms__item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  margin-right: 22px;
}
.terms:last-child {
  margin-right: 0;
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-top: 0;
  }
}
.social-links__img {
  margin-left: 20px;
}
@media screen and (min-width: 1400px) {
  .social-links__img:first-child {
    margin-left: 20px;
  }
}

.social-links a:first-child .social-links__img {
  margin-left: 0;
}

.about-company {
  margin-top: 44px;
}
@media screen and (min-width: 1400px) {
  .about-company {
    width: 360px;
  }
}

.additional-navigation {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin-top: 59px;
    margin-left: auto;
    flex-direction: row;
    padding: 0;
  }
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-right: 29px;
  }
}

.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
  margin: 0;
}
.nav-links:last-child {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .nav-links:last-child {
    margin-top: 0;
  }
}
.nav-links__list {
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
  padding: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .nav-links {
    width: 265px;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  margin-top: 20px;
  text-align: center;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 1400px) {
  .footer-description {
    display: block;
    font-size: 18px;
    line-height: 26px;
    margin: 26px 0;
    color: rgba(43, 41, 45, 0.6);
  }
}

@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .footer-description {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .download {
    text-align: center;
    margin-top: 31px;
    border-bottom: 1px solid #2B292D16;
    padding-bottom: 40px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 1400px) {
  .page {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
