.about {
  width: 100%;
  background-color: #F4F5F7;
  padding: 46px 15px;
}

.article {
  font-size: 22px;
  line-height: 32px;
}

.article:first-child {
  margin-bottom: 20px;
}

@media screen and (min-width: 400px) {
  .about {
    display: flex;
    background-color: #F4F5F7;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }

  .article {
    width: 555px;
  }

  .article:first-child {
    margin-right: 29px;
    margin-bottom: 0;
  }
}



.article__title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 6px;
}

.article__text {
  margin: 0;
}