.audience {
  padding: 50px 15px;
  background-color: #00A1C612;

  @include for-large-up {
    padding: 108px 131px 110px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  &__subtitle {
    text-align: center;
    margin: 0;
  }

  &__title {
    text-align: center;
    margin: 0;
    margin-top: 17px;

    @include for-large-up {
      width: 555px;
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;      
    }
  
  }

  &__description {
    margin: 0;
    margin-top: 18px;
    text-align: center;

    @include for-large-up {
      width: 555px;
      margin-top: 30px;
    }
  }

  &__btn{
    @include for-large-up {
      display: flex;
      margin-top: 34px;
    }
  }

  &__cards {
    @include for-large-up {
      display: flex;
    }
  }

  &__button-get {
    margin-top: 30px;

    @include for-large-up {
      margin-top: 0;
    }
  }

  &__button-more {
    margin-top: 12px;
    color: #000;
    margin-bottom: 40px;

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}

.user-card {
  width: 290px;
  height: 300px;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 15px;

  @include for-large-up {
    width: 262px;
    margin-left: 30px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    background-color: #3141C5;

    & .user-card__text {
      color: #fff;
    }
  }

  &__image {
    margin: 0 auto;
    display: block;
    padding: 22px 0;
  }

  &__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;  
    display: block;  
  }
}
