.button {
	height: 48px;
	width: 160px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
	border-radius: 2px;
	border: 0;
	cursor: pointer;
	font-size: 18px;
	line-height: 13px;
	font-weight: 700;
}

.button {
  @include for-large-down {
    width: 100%;
  }
}

.action-button {
	background-color: #3040C4;
	color: white;
}