.communication {
  padding: 50px 15px 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    color: #0189D1;
    margin: 0;
  }

  &__title {
    margin: 0;
    margin-top: 17px;
  }

  &__description {
    margin: 0;
    margin-top: 18px;
  }

  &__button {
    margin: 0;
    margin-top: 30px;
    width: 160px;
  }

  &__image {
    margin-top: 40px;
    max-width: 290px;
  }

  &__image-caption{
    margin-top: 17px;
    font-size: 14px;
    line-height: 22px;
    color: #2b292d99;
  }
}