.features {
  display: flex;
  position: relative;

  @include for-large-down {
    display: none
  }

  &__content {
    width: 1140px;
    margin: auto;
    display: flex;
    padding-bottom: 103px;
  }

  &__column {
    width: 461px;
  }

  &__subtitle {
    color: #009B4D;
    margin: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  &__description {
    font-size: 24px;
    line-height: 34px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__advantage-header {
    margin-top: 42px;
    display: flex;
  }

  &__advantage-header-title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #3142C6;
    margin: 0;
    margin-left: 15px;
  }

  &__advantage-text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
    margin-bottom: 0;
    border-bottom: 3px solid #3142C6;
    padding-bottom: 20px;
  }

  &__advantage-item {
    border-bottom: 1px solid #2B292D26;
    margin-top: 21px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
  }

  &__advantage-item-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 15px;
  }

  &__left-decoration {
    position: absolute;
    top: 258px;
  }

  &__banner {
    position: absolute;
    right: 0;
  }
}