.headline {
  padding: 35px 0 36px 0;
  background-color: #F3C6BD;
}

.headline__banner {
  position: relative;
  max-width: 100%;
  margin-top: 33px;
}

.headline__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}

.headline__description {
  margin: 24px 0 30px 0;
  font-size: 24px;
  line-height: 34px;
}

.headline__button {
  display: flex;
  flex-direction: column;
}

.healine__learn-more-btn {
  margin-top: 15px;
  background-color: #fff;
  color: #3040C4;
}

@media screen and (max-width: 399px) {
  .button {
    width: 100%;
  }

  .headline__section {
    margin: 0 15px 0 15px;
  }
  
}

@media screen and (min-width: 400px) {
  .headline {
    padding: 0px 29px 0 126px;
    margin: auto;
    margin-top: 84px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .headline__banner {
    position: absolute;
    top: 8px;
    right: 25px;
    width: 796px;
    height: 448px;  
  }

  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 1;
    margin: 0;
    margin-bottom: 34px;
  }

  .headline__description {
    margin: 0;
    margin-bottom: 58px;
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
  }

  .headline__button {
    margin-bottom: 126px;
    display: flex;
    flex-direction: row;
  }

  .healine__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
    width: 158px;
  }
}
/* ######################################## */