.header {
	height: 64px;
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;

	@include for-large-up {
		width: 1140px;
    height: 62px;
    display: flex;
		margin: 0 auto;
		background-color: transparent;		
	}

	&__menu-button {
		width: 58px;
		border: none;
		border-left: 1px solid #00000026;
		height: 100%;
		margin-left: auto;
		background-color: transparent;
		display: flex;

		@include for-large-up {
			display: none;
		}
	}
	
	&__menu-button-icon {
		background-image: url(img/icon-hamburger.png);
		display: block;
		margin: auto;
		width: 18px;
		height: 13px;
	}
}

.header-button {
	display: none;

	@include for-large-up {
		display: block;
	}
}

.logo {
	display: flex;
	align-items: center;

	&__image {
		width: 48px;
		height: 48px;
		padding: 0 13px 0 15px;
		box-sizing: content-box;

		@include for-large-up {
			width: 60px;
			height: 60px;
			margin-right: 15px;
		}
	}
	
	&__description {
		display: none;

		@include for-large-up {
			display: block;
			font-size: 18px;
			line-height: 25px;
			color: #2B292D;
			opacity: 0.6;			
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__name {
		font-size: 20px;
		line-height: 25px;
		font-weight: 700;
		color: #2B292D;
	}
}


.navigation {
	display: none;

	@include for-large-up {
		display: block;
		margin-left: auto;
		margin-top: 7px;
		margin-right: 75px;
	}
}

.nav-list {
	display: flex;
	margin: 0;

	&__item {
		margin-right: 50px;
		list-style: none;

		&:last-child {
			margin-right: 0;
		}

		&_selected {
			font-weight: 700;
		}
	}
	
	&__arrow {
		background: url(img/arrow.png);
		width: 8px;
		height: 5px;
		display: inline-block;
		margin-left: 11px;
	}
	
	&__link {
		color: #2B292D;
		font-size: 18px;
		line-height: 25px;
		text-decoration: none;
	}
}

.top-section {
	@include for-large-up {
		background-color: #F3C6BD;
		padding-top: 39px;
	}
}

	