
/* ###################################### */
.header {
	height: 64px;
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.header-button {
	display: none;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__image {
	width: 48px;
	height: 48px;
	padding: 0 13px 0 15px;
	box-sizing: content-box;
}

.logo__description {
	display: none;
}

.header__menu-button {
	width: 58px;
	border: none;
	border-left: 1px solid #00000026;
	height: 100%;
	margin-left: auto;
	background-color: transparent;
	display: flex;
}

.header__menu-button-icon {
	background-image: url(../img/icon-hamburger.png);
	display: block;
	margin: auto;
	width: 18px;
	height: 13px;
}

.logo__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo__name {
	font-size: 20px;
	line-height: 25px;
	font-weight: 700;
	color: #2B292D;
}

.navigation {
	display: none;
}

.nav-list {
	display: flex;
	margin: 0;
}

.nav-list__item {
	margin-right: 50px;
	list-style: none;
}

.nav-list__item:last-child {
	margin-right: 0;
}

.nav-list__arrow {
	background: url(img/arrow.png);
	width: 8px;
	height: 5px;
	display: inline-block;
	margin-left: 11px;
}

.nav-list__link {
	color: #2B292D;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
}

.nav-list__item_selected {
	font-weight: 700;
}

@media screen and (min-width: 400px) {
	.top-section {
		background-color: #F3C6BD;
		padding-top: 39px;
	}

	.logo__image {
		width: 60px;
		height: 60px;
		margin-right: 15px;
	}

	.logo__description {
		display: block;
		font-size: 18px;
		line-height: 25px;
		color: #2B292D;
		opacity: 0.6;
	}

	.header {
		width: 1140px;
    height: 62px;
    display: flex;
		margin: 0 auto;
		background-color: transparent;
	}

	.header-button {
		display: block;
	}

	.header__menu-button {
		display: none;
	}

	.navigation {
		display: block;
		margin-left: auto;
		margin-top: 7px;
		margin-right: 75px;
	}
}

	