@import 'breakpoint.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'features.scss';
@import 'tips.scss';
@import 'common.scss';
@import 'customers.scss';
@import 'footer.scss';


* {
	box-sizing: border-box;
}

html {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	color: #2b292d;
}

.page {
	width: 100%;
	overflow-x: hidden;
}

@media screen and (min-width: 400px) {
	.page {
		width: 1400px;
		margin: 0 auto;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}
