* {
	box-sizing: border-box;
}

html {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	color: #2b292d;
}

.page {
	width: 1400px;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	flex-grow: 1;
}

