@media screen and (max-width: 399px) {
  .features {
    display: none;
  }
}

.features-mobile {
  padding: 0 15px;
}

.features-mobile__item {
  border-bottom: 1px solid #e3e3e3;
  margin-top: 40px;
}

.features-mobile__item:first-child {
  margin-top: 0;
}

.features-mobile__item:last-child {
  border-bottom: none;
}

.features-mobile__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}

.features-mobile__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 15px;
}

.features-mobile__image {
  margin: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-mobile__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}