.tips {
  padding: 0 15px;

  @include for-large-up {
    display: none;
  }

  &__item {
    border-bottom: 1px solid #e3e3e3;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__title {
    margin: 0;
    margin-top: 17px;
  }

  &__description {
    margin: 0;
    margin-top: 15px;
  }

  &__image {
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  &-caption {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: rgba(43, 41, 45, 0.6);
      margin-top: 20px;
      display: inline-block;
      width: 100%;
      margin-bottom: 40px;
    }
  }
}